{% extends 'base.html' %}

{% block content %}
  <!-- <div class="jumbotron bg-dark text-white text-center pt-5 mt-3">
    <h1 class='display-1'>Welcome to the home page{% if user.is_authenticated %}, {{user.get_full_name}}{% endif %}!</h1>
    <input type="range" max='1000' step='10' name="" value="">
  </div> -->

  <main class='pt-5 text-center'>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">


      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to the home page{% if user.is_authenticated %}, {{user.get_full_name}}{% endif %}!</h1>
        <p class="lead">This web application is currently is the development stage. Lots of new features are just yet to have been discovered. Stay tuned for upcoming updates. I will do my best to make this site more and more robust.</p>
        <p class='lead'>To start with, dive into the <i>products</i> section.</p>
        <p class="lead">
          <a href="{% url 'products:all' %}" class="btn btn-lg btn-secondary">Dive in!</a>
        </p>
      </main>


    </div>
  </main>


{% endblock %}
